.pricing {
  background-color: #f9FCFE;
  .container {
    .pricing__title {
      text-align: center;
      position: relative;
      padding-bottom: 30px;
      margin-bottom: 30px;
      &:before, &:after {
        height: 2px;
        position: absolute;
        background-color: #833ce0;
        left: 50%;
        transform: translateX(-50%);
      }
      &:before {
        content: "";
        width: 60px;
        bottom: 8px;
      }
      &:after {
        content: "";
        width: 40px;
        bottom: 0;
      }
    }
    .pricing__text {
      text-align: center;
      margin-bottom: 10px;
      @media (min-width: 992px) {
        max-width: 50%;
        margin-left: 25%;
      }
    }
    .pricing__wrap {
      margin: 0 -15px;
      margin-top: 80px;
      @media (max-width: 991px) {
        flex-wrap: wrap;
        margin-top: 40px;
      }
      .pricing__box {
        width: calc((100% - 90px) / 3);
        border-radius: 5px;
        padding: 60px 30px;
        background-color: #ffffff;
        text-align: center;
        box-shadow: 0 0 50px 0 rgba(177, 177, 177, 0.2);
        transition: all 0.3s ease;
        transform: translateY(0);
        margin: 0 15px;
        @media (max-width: 991px) {
          width: calc((100% - 60px) / 2);
        }
        @media (max-width: 575px) {
          width: 100%;
          margin-top: 30px;
        }
        &:first-child {
          @media (max-width: 575px) {
            margin-top: 0;
          }
        }
        &:nth-child(2) {
          @media (min-width: 576px) and (max-width: 991px) {
            order: 1;
            margin-top: 30px;
            margin-left: auto;
            margin-right: auto;
          }
        }
        &:hover {
          transform: translateY(-5px);
          box-shadow: 0 5px 50px 0 rgba(177, 177, 177, 0.4);
          background: linear-gradient(135deg, #354a97 0%, #21a8e8 100%);
          .pricing__box-title {
            color: var(--white);
          }
          .pricing__box-price {
            color: var(--white);
          }
          .pricing__box-time {
            color: var(--white);
          }
          .pricing__box-content {
            li {
              color: var(--white);
            }
          }
          .pricing__box-btn {
            color: var(--white);
            border: 2px solid var(--white);
            transition: all 0.3s ease;
            &:hover {
              background-color: var(--white);
              color: #0297f3;
            }
          }
        }
        &.active {
          transform: translateY(-5px);
          box-shadow: 0 5px 50px 0 rgba(177, 177, 177, 0.4);
          background: linear-gradient(135deg, #354a97 0%, #21a8e8 100%);
          .pricing__box-title {
            color: var(--white);
          }
          .pricing__box-price {
            color: var(--white);
          }
          .pricing__box-time {
            color: var(--white);
          }
          .pricing__box-content {
            li {
              color: var(--white);
            }
          }
          .pricing__box-btn {
            color: var(--white);
            border: 2px solid var(--white);
          }
        }
        .pricing__box-title {
          color: #009ff5;
          margin-bottom: 5px;
          font-size: 16px;
          font-weight: 500;
        }
        .pricing__box-price {
          color: var(--title);
          font-size: 60px;
          font-weight: 500;
          @media (max-width: 991px) {
            font-size: 48px;
          }
          @media (max-width: 575px) {
            font-size: 42px;
          }
        }
        .pricing__box-time {
          color: var(--title);
          font-size: 24px;
          font-weight: 500;
        }
        .pricing__box-content {
          margin: 30px 0;
          li {
            color: #686b75;
          }
        }
        .pricing__box-btn {
          background: none;
          border: 2px solid #0297f3;
          color: #0297f3;
        }
      }
    }
  }
}
.attachment {
  background-image: url("../images/attachment.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% 100%;
  position: relative;
  height: 600px;
  @media (max-width: 575px) {
    background-size: 100% 84%;
    height: 400px;
  }
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.6;
    background: var(--black);
  }
  .play__btn {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    background-color: var(--white);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    justify-content: center;
    align-items: center;
    border: 4px solid #0297f3;
    animation: ripple 3s infinite;
    cursor: pointer;
    i {
      font-size: 40px;
      color: #0297f3;
    }
    &:before, &:after {
      content: "";
      position: absolute;
      height: 100px;
      width: 100px;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      transform-origin: center center;
      border-radius: 50%;
      box-shadow: 0 0 0 0 #0297f3;
      animation: ripple 3s 0.9s infinite;
    }
    &:after {
      animation: ripple 3s 0.6s infinite;
    }
  }
}